<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Apps</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Square+Peg&display=swap"
    rel="stylesheet">
  <link rel="manifest" href="./app.webmanifest">
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
</head>
<body>
  <a href="#mainContent" class="skip-link" aria-label="jump to main content">Jump to main content</a>
  <header>
    <nav>
      <h1 class="nav-title">Restaurant Apps</h1>
      <button class="humberger" aria-label="show menu"><i class="fa-solid fa-bars"></i></button>
      <ul class="nav-body">
        <li><a href="#/home" class="nav-item" aria-label="home">Home</a></li>
        <li><a href="#/favorite" class="nav-item" aria-label="favorite">Favorite</a></li>
        <li><a href="https://www.instagram.com/xml.xbrr?igsh=MWk1NmJ1bXNyOGFwbw%3D%3D&utm_source=qr" class="nav-item" aria-label="about us">About Us</a></li>
      </ul>
    </nav>
  </header>
  <div class="hero-container">
    <div class="hero">
      <h2 class="hero-caption">"We present captivating flavors and an inviting ambiance. <br> Welcome to our restaurant, where deliciousness meets comfort."</h2>
    </div>
  </div>
  <main id="mainContent">
  </main>
  <footer>
    <a href="www.linkedin.com/in/kamalakbar-002343293" class="linkedin"><i class="fa-brands fa-linkedin"></i> Linkedin</a>
    <p class="footer-caption">Copy right &copy Restaurant Apps, Kamal Akbar 2024</p>
  </footer>
</body>
<script src="https://kit.fontawesome.com/c8bf250107.js" crossorigin="anonymous"></script>
</html>